@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "League Spartan", sans-serif;
    font-weight: 700;
    color: hsl(60, 10%, 19%);
}

body {
    padding: 1.5rem 1rem;
    background-color: hsl(0, 0%, 90%);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.theme {
    display: flex;
    align-items: end;
}

.theme p {
    font-size: 0.8rem;
    margin: 0 1.5rem 0.25rem 0;
}

.label {
    display: flex;
    justify-content: space-around;
    margin: 0.2rem;
}

.state__toggle {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 0.3rem;
    width: 3.3rem;
    height: 0.6rem;
    border: 1px solid #ccc;
    border-radius: 1rem;
    overflow: hidden;
    background: #D3CDCD;
}

.state__toggle input[type="radio"] {
    display: none;
}

label {
    cursor: pointer;
    font-size: 0.8rem;
}

.toggle__indicator {
    position: absolute;
    top: 14%;
    left: 4%;
    height: 80%;
    width: 24%;
    background-color: #FA8B3E;
    border-radius: 1rem;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.state__toggle input[type="radio"]:checked#first__state~.toggle__indicator {
    transform: translateX(0%);
}

.state__toggle input[type="radio"]:checked#second__state~.toggle__indicator {
    transform: translateX(135%);
}

.state__toggle input[type="radio"]:checked#third__state~.toggle__indicator {
    transform: translateX(280%);
}

section {
    height: 2rem;
    margin: 1rem 0;
    background-color: hsl(0, 0%, 93%);
    font-size: 2rem;
    padding: 1.2rem;
    text-align: right;
    border-radius: 0.5rem;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
}

section::-webkit-scrollbar {
    display: none;
}

main {
    background-color: hsl(0, 5%, 81%);
    padding: 1rem;
    border-radius: 0.5rem;
}

ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
}

.reset {
    grid-column: 1 / 3;
}

.total {
    grid-column: 3 / 5;
}

li {
    background-color: hsl(0, 0%, 90%);
    padding: 1.2rem;
    text-align: center;
    line-height: 1.5rem;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 5px 1px -1px rgb(166, 157, 145);
    transition: transform 0.2s ease;
}

li:active {
    transform: translateY(0.2rem);
}

.contrast {
    font-size: 0.8rem;
    background-color: hsl(185, 42%, 37%);
    box-shadow: 0 5px 1px -1px hsl(185, 58%, 25%);
    color: hsl(0, 100%, 100%);
}

.large__keys {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.large__keys>* {
    width: 50%;
    text-align: center;
    padding: 1rem;
    border-radius: 0.5rem;
}

.total {
    background-color: hsl(25, 98%, 40%);
    color: hsl(0, 100%, 100%);
    box-shadow: 0 5px 1px -1px hsl(25, 99%, 27%);
    transition: transform 0.2s ease;
}

.total:active {
    transform: translateY(0.2rem);
}

@media only screen and (min-width: 500px) {
    body {
        padding: 1.5rem 15%;
    }
}

@media only screen and (min-width: 700px) {
    body {
        padding: 2.5rem 25%;
    }
}

@media only screen and (min-width: 850px) {
    body {
        padding: 2.5rem 30%;
    }
}

@media only screen and (min-width: 1100px) {
    body {
        padding: 2.5rem 32.5%;
    }
}

@media only screen and (min-width: 1200px) {
    body {
        padding: 2.5rem 35%;
    }
}

@media only screen and (min-width: 1400px) {
    body {
        padding: 2.5rem 37.5%;
    }
}